<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../resource/bootstrap-4.0.0-beta.2/css/bootstrap.min.css" >
    <link rel="stylesheet" href="../resource/custom/css/doc.css" >
    <link rel="stylesheet" href="../resource/ionicons-2.0.1/css/ionicons.min.css" >
    <script src="../resource/jquery-3.2.1/jquery-slim.min.js"></script>
    <script src="../resource/bootstrap-4.0.0-beta.2/js/popper.min.js"></script>
    <script src="../resource/bootstrap-4.0.0-beta.2/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-xl-2 ly-sidebar ly-sidebar-color">
            <button type="button" class="btn btn-primary btn-lg btn-block">返回首页</button>

            <div style="padding:0.5rem 1.3rem;color:white;cursor:pointer;font-size: 11px;" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <span class="step size-12">
                  <i class="icon ion-plus-round"></i>
                </span>
                新建文集
            </div>

            <div class="collapse" id="collapseExample" >
                <div class="card card-body" style="background-color: #3f3f3f;border:none;">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="submit" class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">取消</button>
                    </form>
                </div>
            </div>

            <nav class="nav flex-column">
                <li class="nav-item ly-nav-item position-relative">
                    <a class="nav-link text-truncate"  href="#">
                        123456789012345678901234567890
                    </a>
                    <i class="icon ion-ios-gear position-absolute ly-nav-i" hidden></i>
                </li>

                <li class="nav-item ly-nav-item position-relative">
                    <a class="nav-link text-truncate"  href="#">
                        123456789012345678901234567890
                    </a>
                    <i class="icon ion-ios-gear position-absolute ly-nav-i" hidden></i>
                </li>
                <li class="nav-item ly-nav-item ly-nav-active position-relative">
                    <a class="nav-link text-truncate"  href="#">
                        123456789012345678901234567890
                    </a>
                    <i class="icon ion-ios-gear position-absolute ly-nav-i"></i>
                </li>

            </nav>
        </div>
        <div class="col-md-4 col-xl-3 ly-sidebar">
            <button type="button" class="btn btn-link">
                <i class="icon ion-android-add-circle"></i>
                新建文章
            </button>
            <nav class="nav flex-column">
                <li class="nav-item ly-nav2-item position-relative">
                    <a class="nav-link text-truncate"  href="#">
                        123456789012345678901234567890
                    </a>
                    <i class="icon ion-ios-gear position-absolute ly-nav2-i" hidden></i>
                </li>

                <li class="nav-item ly-nav2-item position-relative">
                    <a class="nav-link text-truncate"  href="#">
                        123456789012345678901234567890
                    </a>
                    <i class="icon ion-ios-gear position-absolute ly-nav2-i" hidden></i>
                </li>
                <li class="nav-item ly-nav2-item ly-nav2-active position-relative">
                    <a class="nav-link text-truncate"  href="#">
                        123456789012345678901234567890122222222222222222222222222222222222222222222
                    </a>
                    <i class="icon ion-ios-gear position-absolute ly-nav2-i"></i>
                </li>


            </nav>
        </div>
        <main class="col-md-5 col-xl-7 ly-sidebar" role="main">
            <form>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="First name">
                    </div>
                </div>
                <div class="row">
                    <div class="col">

                    </div>
                </div>
            </form>
        </main>
    </div>
</div>
</body>
</html>