<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../resource/bootstrap-4.0.0-beta.2/css/bootstrap.min.css" >
    <script src="../resource/jquery-3.2.1/jquery-slim.min.js"></script>
    <script src="../resource/bootstrap-4.0.0-beta.2/js/popper.min.js"></script>
    <script src="../resource/bootstrap-4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-md-10" >
                <h1>123</h1>
            </div>
        </div>
    </div>
</body>
</html>