
.ly-orangebar {
    border-top:2px solid #fa7d3c;
}

.ly-sidebar-color {
    background-color: #3f3f3f;
}

/*元素高度为100%*/
@media (min-width:768px) {
    .ly-sidebar {
        -ms-flex-order: 0;
        order: 0;
        padding:0;
        border-bottom: 1px solid rgba(0,0,0,.1);
        border-right: 1px solid rgba(0,0,0,.1);
    }
    @supports ((position:-webkit-sticky) or (position:sticky)) {
        .ly-sidebar{position: -webkit-sticky;
            position: sticky;
            top: 0rem;
            z-index: 1000;
            height: calc(100vh);
            max-height: calc(100vh);
            overflow:hidden;
            overflow-y:auto;
        }

    }
}
.ly-nav-item{
    display: block;
    border-left: 3px solid #3f3f3f;
    cursor: pointer;
}
.ly-nav-item a {
    color:white;
    text-shadow:0 -1px 0 rgba(0,0,0,0.2);
    padding-right: 2.5rem;
}
.ly-nav-item:focus, .ly-nav-item:hover {
    background-color:#646464;
    border-left: 3px solid #ec7259;
}
.ly-nav-active {
    background-color:#646464;
    border-left: 3px solid #ec7259;
}

.ly-nav-i {
    right: 1rem;
    top: 0.5rem;
    color:#9d9d9d
}

.ly-nav2-item{
    display: block;
    padding: 2rem 1.3rem;
    border-left: 3px solid #ffffff;
    border-top:1px solid #dcdcdc;
    cursor: pointer;
}
.ly-nav2-item a {
    color:#2f2f2f;
    text-shadow:0 -1px 0 rgba(0,0,0,0.2);
    padding-right: 1.5rem;
}
.ly-nav2-item:focus, .ly-nav2-item:hover {
    background-color:#ececec;
    border-left: 3px solid #ec7259;
    color:#555555;
    text-shadow:0 -1px 0 rgba(0,0,0,0.2);
}
.ly-nav2-active {
    background-color:#ececec;
    border-left: 3px solid #ec7259;
    color:#555555;
    text-shadow:0 -1px 0 rgba(0,0,0,0.2);
}

.ly-nav2-i {
    right: 1rem;
    top: 2.5rem;
    color:#9d9d9d
}
.ly-text {
    border:none;
    padding:20px 30px 10px 40px;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    border-radius: 0;
}